<a href="https://colab.research.google.com/github/Brunalu28/DataAnalysisPRF/blob/main/Projeto_I_(Estat%C3%ADstica)_Luiza_Bruna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<div align="center">

![logo-ifpb-vertical.png](https://www.ifpb.edu.br/noticias/2019/05/conselho-superior-convoca-para-reuniao-ordinaria/logo-ifpb-vertical.png/@@images/f70bc494-26db-4558-a9fb-51ebc2828993.png)


# **Projeto I - Estatística Aplicada à Computação**

## Infrações de Trânsito em Rodovias Federais
**Aluna: Luiza Bruna Apolinario Ribeiro**

</div>

---

#### **1ª Tarefa**
Baixe e carregue em dataframes os conjuntos de dados referentes ao ano de 2021, disponível
aqui, sem precisar baixar os dados. Corrija quaisquer erros que apareçam no carregamento dos
arquivos.

***Bibliotecas sendo importadas:***

In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive

***Conectando ao drive:***

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

***Dataframe de cada mês:***

*Foi usado o encoding para reconhecer caracteres da América Latina e o sep para delimitar os espaços entre as fileiras.*

In [ ]:
janDF = pd.read_csv('/content/drive/MyDrive/infrações_2021/infra‡oes2021_01.csv', encoding='latin-1', sep=";", low_memory=False)
fevDF = pd.read_csv('/content/drive/MyDrive/infrações_2021/infra‡oes2021_02.csv', encoding='latin-1', sep=";", low_memory=False)
marDF = pd.read_csv('/content/drive/MyDrive/infrações_2021/infra‡oes2021_03.csv', encoding='latin-1', sep=";", low_memory=False)
abrDF = pd.read_csv('/content/drive/MyDrive/infrações_2021/infra‡oes2021_04.csv', encoding='latin-1', sep=";", low_memory=False)
maiDF = pd.read_csv('/content/drive/MyDrive/infrações_2021/infra‡oes2021_05.csv', encoding='latin-1', sep=";", low_memory=False)
junDF = pd.read_csv('/content/drive/MyDrive/infrações_2021/infra‡oes2021_06.csv', encoding='latin-1', sep=";", low_memory=False)
julDF = pd.read_csv('/content/drive/MyDrive/infrações_2021/infra‡oes2021_07.csv', encoding='latin-1', sep=";", low_memory=False)
agoDF = pd.read_csv('/content/drive/MyDrive/infrações_2021/infra‡oes2021_08.csv', encoding='latin-1', sep=";", low_memory=False)
setDF = pd.read_csv('/content/drive/MyDrive/infrações_2021/infra‡oes2021_09.csv', encoding='latin-1', sep=";", low_memory=False)
outDF = pd.read_csv('/content/drive/MyDrive/infrações_2021/infra‡oes2021_10.csv', encoding='latin-1', sep=";", low_memory=False)
novDF = pd.read_csv('/content/drive/MyDrive/infrações_2021/infra‡oes2021_11.csv', encoding='latin-1', sep=";", low_memory=False)
dezDF = pd.read_csv('/content/drive/MyDrive/infrações_2021/infra‡oes2021_12.csv', encoding='latin-1', sep=";", low_memory=False)

***Unindo todos os meses de 2021 em um só dataframe:***

Foi usado o concat pra fazer a união, o axis e o ignore_index para evitar um valor duplicado no índice.

In [ ]:
anualdf = pd.concat([janDF, fevDF, marDF, abrDF, maiDF, junDF, julDF, agoDF, setDF, outDF, novDF, dezDF], axis=0, ignore_index=True)

anualdf

,Número do Auto,Data da Infração (DD/MM/AAAA),Indicador de Abordagem,Assinatura do Auto,Indicador Veiculo Estrangeiro,Sentido Trafego,UF Infração,BR Infração,Km Infração,Município,...,Enquadramento da Infração,Início Vigência da Infração,Fim Vigência Infração,Medição Infração,Descrição Especie Veículo,Descrição Marca Veículo,Hora Infração,Medição Considerada,Excesso Verificado,Qtd Infrações
0,106198fa7cfe8e9,2021-01-08,S,N,N,C,ES,101,242,SERRA,...,209,2016-11-01,NaN,Nenhuma,TRAÇÃO,VOLVO,1,0,0,1
1,12963b279370873,2021-01-08,S,N,N,D,ES,101,242,SERRA,...,209,2016-11-01,NaN,Nenhuma,TRAÇÃO,VOLVO,16,0,0,1
2,6b7a329810761b4,2021-01-10,S,N,N,C,ES,101,242,SERRA,...,209,2016-11-01,NaN,Nenhuma,TRAÇÃO,OUTRA,7,0,0,1
3,a866e8850da632b,2021-01-11,S,N,N,C,ES,101,242,SERRA,...,209,2016-11-01,NaN,Nenhuma,MISTO,OUTRA,19,0,0,1
4,77bf454bcb08f99,2021-01-12,S,N,N,D,ES,101,242,SERRA,...,209,2016-11-01,NaN,Nenhuma,CARGA,MERCEDES BENZ,11,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5241294,fc1dae9576ea34b,2021-12-30,S,N,N,D,SC,470,70,INDAIAL,...,244 X,2021-04-12,NaN,Nenhuma,PASSAGEIRO,HONDA,18,0,0,1
5241295,5bf77a904246fbb,2021-12-30,S,N,N,C,SC,470,60,BLUMENAU,...,250 I d,2021-04-12,NaN,Nenhuma,PASSAGEIRO,YAMAHA,9,0,0,1
5241296,0b765f11acbaa90,2021-12-30,S,N,N,C,SC,470,60,BLUMENAU,...,244 VII,2016-11-01,NaN,Nenhuma,PASSAGEIRO,YAMAHA,9,0,0,1
5241297,f0b5cf3823828c6,2021-12-30,S,N,N,C,SC,470,60,BLUMENAU,...,244 VII,2016-11-01,NaN,Nenhuma,PASSAGEIRO,OUTRA,9,0,0,1
5241298,53ed928f89652a5,2021-12-30,S,N,N,D,SC,470,70,INDAIAL,...,215 I a,2016-11-01,NaN,Nenhuma,PASSAGEIRO,VW,19,0,0,1


###**2ª Tarefa**

Explore os conjuntos de dados, respondendo as questões:

***(a) quantas infrações ocorreram em cada ano?***

No caso, foi verificada a quantidade de infrações por mês, com base na quantidade de infrações, primeiro foi usado o datetime para converter a string em objeto datatime e o argumento dayfirst para ser analisado primeiro os dias. Pra pegar somente os meses, foi usado o dt.month e depois contalbilizados com o count.

In [ ]:
anualdf["Data da Infração (DD/MM/AAAA)"] = pd.to_datetime(anualdf["Data da Infração (DD/MM/AAAA)"], dayfirst=True)
anualdf["infraMes"] = anualdf["Data da Infração (DD/MM/AAAA)"].dt.month
totalInfra = anualdf.groupby("infraMes")["Qtd Infrações"].count()
totalInfra

infraMes
1     442458
2     441593
3     380688
4     374764
5     412057
6     456576
7     470598
8     496155
9     503323
10    477682
11    370634
12    414771
Name: Qtd Infrações, dtype: int64

***(b) quantas variáveis cada conjunto de dados registra?***

Foi usado o shape, que retorna a quantidade de linhas e colunas do dataframe, no nosso caso foi pego a quantidade de colunas que são as variáveis do conjunto de dados.

In [ ]:
anualdf.shape[1]

23

Com o info, temos a descrição de cada uma das variáveis, com excessão do infraMes, todas fazem parte do dataframe.

In [ ]:
anualdf.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5241299 entries, 2021-01-08 to 2021-12-30
Data columns (total 23 columns):
 #   Column                         Dtype
---  ------                         -----
 0   Número do Auto                 object
 1   Data da Infração (DD/MM/AAAA)  datetime64[ns]
 2   Indicador de Abordagem         object
 3   Assinatura do Auto             object
 4   Indicador Veiculo Estrangeiro  object
 5   Sentido Trafego                object
 6   UF Infração                    object
 7   BR Infração                    int64
 8   Km Infração                    int64
 9   Município                      object
 10  Código da Infração             int64
 11  Descrição Abreviada Infração   object
 12  Enquadramento da Infração      object
 13  Início Vigência da Infração    object
 14  Fim Vigência Infração          float64
 15  Medição Infração               object
 16  Descrição Especie Veículo      object
 17  Descrição Marca Veículo        object
 18  Hora Infração                  int64
 19  Medição Considerada            object
 20  Excesso Verificado             object
 21  Qtd Infrações                  int64
 22  infraMes                       int64
dtypes: datetime64[ns](1), float64(1), int64(6), object(15)
memory usage: 959.7+ MB

***(c) quais as cinco cidades brasileiras onde mais ocorreram infrações em rodovias federais?***

Foi usado o groupby para agrupar as infrações por município e logo em seguida o count, como está sendo pedido os cinco municípios com mais infrações, a lista foi ordenada de forma inversa e depois exposto os cinco primeiros municípios da lista.

In [ ]:
cidades = anualdf.groupby("Município")["Qtd Infrações"].count()
listacidades = cidades.sort_values(ascending=False)
listacidades.head(5)

Município
RIO DE JANEIRO    194011
NITEROI           173277
MAIRIPORA         136054
BELO HORIZONTE    124818
ITABORAI          112712
Name: Qtd Infrações, dtype: int64

### **3ª Tarefa**
Para cada indicação abaixo, construa um novo dataframe, salvando-o com a terminação .csv.

***(a) ranking de infrações por estado;***

Para fazer o ranking das infrações por estado primeiro foram contabilizadas as infrações, depois ordenadas com o rank que classificou as ufs, em seguida foi feito o dataframe, renomeado o título e nome da coluna.

In [ ]:
rankingUF = anualdf["UF Infração"].value_counts()
rankingUF.rank
dfRanking = pd.DataFrame(rankingUF)
dfRanking.rename(columns={'UF':'Infrações'}, inplace=True)
dfRanking.index.names = ['Municipios']
dfRanking

            UF Infração
Municipios
RJ               925055
SP               700587
MG               685155
BA               462102
MS               361411
PR               258554
SC               235609
GO               209939
MT               185499
ES               181184
RS               175898
CE               108999
PE               103562
DF               103324
PI                75364
RO                75280
RN                71667
PB                70457
PA                56854
MA                50279
AL                42632
SE                29262
TO                21430
AM                16952
AP                13629
RR                11370
AC                 9245

Por fim foi criado o csv. 

Conferindo o arquivo csv do Ranking de infrações por estado:

In [ ]:
dfRanking.to_csv("RankingUF.csv", index=True)
RankingUF = pd.read_csv("RankingUF.csv")
RankingUF

   Municipios  UF Infração
0          RJ       925055
1          SP       700587
2          MG       685155
3          BA       462102
4          MS       361411
5          PR       258554
6          SC       235609
7          GO       209939
8          MT       185499
9          ES       181184
10         RS       175898
11         CE       108999
12         PE       103562
13         DF       103324
14         PI        75364
15         RO        75280
16         RN        71667
17         PB        70457
18         PA        56854
19         MA        50279
20         AL        42632
21         SE        29262
22         TO        21430
23         AM        16952
24         AP        13629
25         RR        11370
26         AC         9245

***(b) infrações por dia da semana para o ano inteiro***

Primeiro foi pego o dataframe anual e a coluna data da infração foi convertida em um objeto tipo data, para facilitar a análise apenas dos dias da semana.

Depois foi usado o módulo locale para converter a localidade dos dados de data.

em seguida foi feito o dataframe, renomeado o título e nome da coluna.

In [ ]:
import locale
from datetime import datetime

locale.setlocale(locale.LC_ALL, locale= 'pt_BR.utf8')
#!sudo dpkg-reconfigure locales

infraData = anualdf
infraData["Data da Infração"] = pd.to_datetime(infraData["Data da Infração (DD/MM/AAAA)"])
infraData.set_index("Data da Infração", inplace=True)

dias = infraData.groupby(anualdf.index.day_name(locale="pt_BR.utf8"))["Qtd Infrações"].sum().sort_values(ascending=False)

dfDiasDaSemana = pd.DataFrame(dias)
dfDiasDaSemana

                  Qtd Infrações
Data da Infração
Sexta                    818925
Domingo                  760256
Sábado                   743481
Quinta                   735974
Quarta                   732179
Terça                    730309
Segunda                  720175

Por fim foi criado o csv. 

Conferindo o arquivo csv dos dias da semana:

In [ ]:
dfDiasDaSemana.to_csv("DiasDaSemana.csv", index=True)
DiasDaSemana = pd.read_csv("DiasDaSemana.csv")
DiasDaSemana

  Data da Infração  Qtd Infrações
0            Sexta         818925
1          Domingo         760256
2           Sábado         743481
3           Quinta         735974
4           Quarta         732179
5            Terça         730309
6          Segunda         720175